PORT=3000
MONGODB_URI=mongodb+srv://keerthanapnair04_db_user:uulW6IOuhFfmElUb@cluster0.nhpugrq.mongodb.net/?appName=Cluster0
FRONTEND_URL=book-nest-frontend-8lfa17jh6-keerthana198s-projects.vercel.app